
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Poppins', sans-serif;
}

.search-button{
    border: none;
    outline: none;
    background-color: #3F3351;
    color: white;
    font-weight: 600;
    padding: 5px 15px;
}
.input-field{
    outline: none;
    border: 1px solid #3F3351!important;
}

/* ...... main-section.... */

.container-width{
    width: 60%;
}
.container-width-details{
    position: fixed;
    width: 50%;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   display: none;
}
.phone-name{
    color: #3F3351;
    font-weight: 700;
    font-size: 19px;

}
.phone-brand{
    font-weight: 600;
}










.dismiss-btn-parent{
    text-align: right;
}

.dismiss-btn{
    border: none;
    background: none;
    font-size: 30px;
    font-weight: 400;
    color: #3F3351;
    margin-top: -30px;
    
}

.details-btn{
    border: none;
    outline: none;
    background-color: #3F3351;
    color: white;
    font-weight: 600;
    padding: 5px 15px;
    font-size: 14px;
}
.details-btn:hover{
    background-color: white;
    border: 1px solid #3F3351;
    color: #3F3351;
    overflow: hidden;
}
.details-img{
    width: 100%;
    height: auto;
}
.feature{
    margin: 0;
    font-size: 14px;
    margin: 5px 0!important;
    margin-left: 10px!important;
}

  

